<link href="./home.css" rel="stylesheet" />
<body id="mainhome" ng-controller='homeCtrl'>
      <h2 class="hdtext">Popular meetups</h2><br>
      <div class="wrap">
        <button id="left" type="button" ng-click="slickConfig.method.slickPrev()"><i class="fas fa-angle-left"></i></button>
        <div class='showevents'>
        <slick settings='slickConfig'>
            <div class="eventelem"><h4>Toy flea market</h4>6/10 Gapcheon riverside park, Daejeon<br><img src="img/toy.jpg" style="width:200px;height:150px;"></div>
            <div class="eventelem"><h4>Frisbee cup!</h4>6/10 Gapcheon riverside park, Daejeon<br><img src="img/frisbee.jpg" style="width:200px;height:150px;"></div>
            <div class="eventelem"><h4>Bishon time</h4>6/10 Gapcheon riverside park, Daejeon<br><img src="img/bishon.jpg" style="width:200px;height:150px;"></div>
            <div class="eventelem"><h4>Snack giveaway</h4>6/10 Gapcheon riverside park, Daejeon<br><img src="img/snack.jpg" style="width:200px;height:150px;"></div>
        </slick>
        </div>
        <button id="right" type="button" ng-click="slickConfig.method.slickNext()"><i class="fas fa-angle-right"></i></button>
      </div>
      <br>
      <h2 class="hdtext">Friends for you</h2><br>
      <div id="filterbtnbox"><button class="btn btn-lg btn-outline-dark" data-toggle="modal" data-target="#filterwindow">
        <i class="fas fa-filter"></i> Filter
      </button></div>
      <div class="modal fade" id="filterwindow" tabindex="-1" role="dialog" aria-labelledby="filtertitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="filtertitle">Customize recommendation options</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <h6>Preferences on dog breeds: </h6>
              <div class="breedsO">
                <label for="sameOpt" class="breedOpt-label">
                  <input type="radio" id="sameOpt" name="breedOpt" value="same" ng-model='opt.breed' ng-change="limN=4">
                  <span>same as mine</span>
                </label>
                <label for="friendlyOpt" class="breedOpt-label">
                  <input type="radio" id="friendlyOpt" name="breedOpt" value="friendly" ng-model='opt.breed' ng-change="limN=4">
                  <span>friendly to mine</span>
                </label>
                <br>
                <label for="sizeOpt" class="breedOpt-label">
                  <input type="radio" id="sizeOpt" name="breedOpt" value="size" ng-model='opt.breed' ng-change="limN=4">
                  <span>similar in size</span>
                </label>
                <label for="allOpt" class="breedOpt-label">
                  <input type="radio" id="allOpt" name="breedOpt" value="all" ng-model='opt.breed' ng-change="limN=4">
                  <span>all breeds</span>
                </label>
              </div>
              <br>
              <h6>Preferences on owner's age: </h6>
              <div class="form-row ageO">
                <div class="form-group col-md-4">
                  <input class="form-control" id="Age-young" ng-model='opt.yage' ng-change="limN=4">
                </div>
                &nbsp; ~ &nbsp;
                <div class="form-group col-md-4">
                  <input class="form-control" id="Age-old" ng-model='opt.oage' ng-change="limN=4">
                </div>
              </div>
              <h6>Other options you can choose: </h6>
              <div class="otherO">
                <label for="interestOpt" class="otherOpt-label">
                  <input type="checkbox" id="interestOpt" name="otherOpt" value="interest" ng-model='opt.interest' ng-change="limN=4">
                  <span>common interest</span>
                </label>
                <label for="walktimeOpt" class="otherOpt-label">
                  <input type="checkbox" id="walktimeOpt" name="otherOpt" value="walktime" ng-model='opt.walktime' ng-change="limN=4">
                  <span>common walking time</span>
                </label>
                <br>
                <label for="dogageOpt" class="otherOpt-label">
                  <input type="checkbox" id="dogageOpt" name="otherOpt" value="dogage" ng-model='opt.dogage' ng-change="limN=4">
                  <span>dogs of similar age</span>
                </label>
                <label for="charaOpt" class="otherOpt-label">
                  <input type="checkbox" id="charaOpt" name="otherOpt" value="character" ng-model='opt.character' ng-change="limN=4">
                  <span>dogs of similar characters</span>
                </label>
              </div>
              </h6>
              <br>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" ng-click='dofilter()' data-dismiss="modal" class="btn btn-danger submitbtn">Save changes</button>
            </div>
          </div>
        </div>
      </div>
      <div class="wrapincase">
        <div class="row wrapcards" ng-init="limN=4; dofilter()">
          <div ng-repeat="profile in filprofiles | limitTo: limN as shown" class="col-md-6 card-container">
            <div class="flipping-profile">
              <div class="card front">
                <img ng-src="{{ profile.pic }}" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title">{{profile.dog_name}} / {{profile.owner_name}}</h5>
                  <p class="card-text"><h6>{{profile.dog_basicinfo}} {{profile.dog_breed}}</h6>{{profile.dog_message}}</p>
                  <p class="card-text distance"><i class="fa fa-map-marker"></i> {{profile.distance}}m away</p>
                </div>
              </div>
              <div class="card back text-white bg-secondary" ng-click="createInd($index);putpinfo(profile);seeprofile(profile.dog_name)" class="btn btn-light">
                <div class="card-body">
                  <h5 class="card-title">{{ profile.dog_name }}</h5>
                  <p class="card-text"><h6>{{profile.dog_agengender}}</h6>
                  <div ng-repeat="dogpart in profile.dog_intro">
                    <li>{{dogpart}}</li>
                  </div></p>
                  <br>
                  <h5 class="card-title">{{ profile.owner_name }}</h5>
                  <p class="card-text"><h6>{{profile.owner_agengender}}</h6>
                  <li>interested in <text ng-repeat="interest in profile.interests">{{interest}}<text ng-if="$index!= profile.interests.length-1">, </text></text></li>
                  <li>frequent walking time: {{profile.walkingtime}}</li></p>
                </div>
              </div>
            </div>
          </div>
          <div ng-if="$index %2 != 0">
            <div class="col w-100"></div>
          </div>
          <div ng-show="filprofiles.length===0"><i>Sorry, there's no puddy who meets the condition :{</i></div>
        </div>
        <!--
        <div class="modal fade" id="profilewindow" tabindex="-1" role="dialog" aria-labelledby="profiletitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="profiletitle">User Profile</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <h6>{{filprofiles[ind].dog_name}}</h6>
              </div>
              <button type="button" class="btn btn-success" ng-click="befriend(ind)">Friend</button>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        -->
        <div class="row wrapcards btnrow">
          <div class="col seemore">
            <a ng-hide="shown.length===filprofiles.length" ng-click="limN = limN+4" id="seemorebtn" class="btn btn-light"> See more </a>
            <br>
          </div>
        </div>
      </div>
</body>