<link href="./home.css" rel="stylesheet" />
<body id="mainhome" ng-controller='homeCtrl'>
      <h2 class="hdtext">Popular events</h2><br>
      <div class="wrap">
        <button id="left" type="button" ng-click="slickConfig.method.slickPrev()"><i class="fas fa-angle-left"></i></button>
        <div class='showevents'>
        <slick settings='slickConfig'>
            <div class="eventelem"><h4>Toy flea market</h4>6/10 Gapcheon riverside park, Daejeon<br><img src="img/toy.jpg" style="width:200px;height:150px;"></div>
            <div class="eventelem"><h4>Frisbee cup!</h4>6/10 Gapcheon riverside park, Daejeon<br><img src="img/frisbee.jpg" style="width:200px;height:150px;"></div>
            <div class="eventelem"><h4>Bishon time</h4>6/10 Gapcheon riverside park, Daejeon<br><img src="img/bishon.jpg" style="width:200px;height:150px;"></div>
            <div class="eventelem"><h4>Snack giveaway</h4>6/10 Gapcheon riverside park, Daejeon<br><img src="img/snack.jpg" style="width:200px;height:150px;"></div>
        </slick>
        </div>
        <button id="right" type="button" ng-click="slickConfig.method.slickNext()"><i class="fas fa-angle-right"></i></button>
      </div>
      <br>
      <h2 class="hdtext">Friends for you</h2><br>
      <div id="filterbtnbox"><button class="btn btn-lg btn-outline-dark" data-toggle="modal" data-target="#filterwindow">
        <i class="fas fa-filter"></i> Filter
      </button></div>
      <div class="modal fade" id="filterwindow" tabindex="-1" role="dialog" aria-labelledby="filtertitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="filtertitle">Customize recommendation options</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <h6>Only show dog breeds which are: </h6>
              <div class="form-check breedsO">
                <input class="form-check-input" type="radio" name="breedOpt" id="breedOpt-same" value="same" ng-model='opt.breed' ng-change="limN=4">
                <label class="form-check-label" for="breedOpt-same"> same as my dog </label>
              </div>
              <div class="form-check breedsO">
                <input class="form-check-input" type="radio" name="breedOpt" id="breedOpt-friendly" value="friendly" ng-model='opt.breed' ng-change="limN=4">
                <label class="form-check-label" for="breedOpt-friendly"> my dog is friendly to </label>
              </div>
              <div class="form-check breedsO">
                <input class="form-check-input" type="radio" name="breedOpt" id="breedOpt-size" value="size" ng-model='opt.breed' ng-change="limN=4">
                <label class="form-check-label" for="breedOpt-size"> similar in size with my dog </label>
              </div>
              <br>
              <h6>Only show users of age between: </h6>
              <div class="form-row ageO"> 
                <div class="form-group col-md-4">
                  <select class="form-control" id="Age-young">
                    <option selected>-</option>
                    <option>19</option>
                    <option>20</option>
                    <option>21</option>
                    <option>22</option>
                    <option>23</option>
                    <option>24</option>
                    <option>25</option>
                    <option>26</option>
                  </select>
                </div>
                &nbsp; to &nbsp;
                <div class="form-group col-md-4">
                  <select class="form-control" id="Age-old">
                    <option selected>-</option>
                    <option>20</option>
                    <option>21</option>
                    <option>22</option>
                    <option>23</option>
                    <option>24</option>
                    <option>25</option>
                    <option>26</option>
                    <option>27</option>
                  </select>
                </div>
              </div>
              <br>
              <h6>Only show users with at least one common interest. &nbsp;
              <div class="form-check-inline interestO">
                <input class="form-check-input" type="checkbox" id="interestOpt" value="same">
              </div>
              </h6>
              <br>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" ng-click='dofilter()' data-dismiss="modal" class="btn btn-success">Save changes</button>
            </div>
          </div>
        </div>
      </div>
      <div class="wrapincase">
        <div class="row wrapcards" ng-init="limN=4; dofilter()">
          <div ng-repeat="profile in filprofiles | limitTo: limN as shown" class="col-md-6 card-container">
            <div class="flipping-profile">
              <div class="card front">
                <img ng-src="{{ profile.pic }}" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title">{{profile.dog_name}} / {{profile.owner_name}}</h5>
                  <p class="card-text"><h6>{{profile.dog_basicinfo}}</h6>{{profile.dog_message}}</p>
                </div>
              </div>
              <div class="card back text-white bg-secondary">
                <div class="card-body">
                  <h5 class="card-title">{{ profile.dog_name }}</h5>
                  <p class="card-text"><h6>{{profile.dog_agengender}}</h6>
                  <div ng-repeat="dogpart in profile.dog_intro">
                    <li>{{dogpart}}</li>
                  </div></p>
                  <br>
                  <h5 class="card-title">{{ profile.owner_name }}</h5>
                  <p class="card-text"><h6>{{profile.owner_agengender}}</h6>
                  <div ng-repeat="ownerpart in profile.owner_intro">
                    <li>{{ownerpart}}</li>
                  </div></p>
                  <a href="{{ profile.url }}" class="btn btn-light"> See profile </a>
                </div>
              </div>
            </div>
          </div>
          <div ng-if="$index %2 != 0">
            <div class="col w-100"></div>
          </div>
        </div>
        <div class="row wrapcards btnrow">
          <div class="col seemore">
            <a ng-hide="shown.length===filprofiles.length" ng-click="limN = limN+4" id="seemorebtn" class="btn btn-light"> See more </a>
            <br>
          </div>
        </div>
      </div>
</body>