.form-border{
    width:700px;
    color:#555 !important;
    font-family:"Noto Grande", "Noto Sans Unicode", "Noto Sans", Verdana, sans-serif;
    font-size:14px;
    margin: auto;
    padding-top: 30px;
}

.hdtext {
    margin-top: 2%;
    margin-left: 25%;
}

.btn-group-toggle {
    float: right;
}

.list-group {
    margin-top: 16px;
    margin-bottom: 30px;
}
.detailtext {
    margin: 16px;
}
.datepicker {
    margin-top: 25px;
    width: 100%;
}

.form-group {
    margin-top: 30px;
}

#createBtn {
    margin-top: 20px;
    float: right;
    width: 100px;
}

#cancelBtn {
    margin-top: 20px;
    float: right;
    margin-right: 10px;
}

#show-map {
    margin-top: 16px;
    height: 600px;
}

#list-map {
    height: 600px;
}

.float-right {
    float: right;
}

.red {
    color: red;
}

a:hover {
    background-color: lightgrey;
    cursor: pointer;
}