<link href="./meeting.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="form-border">
  <h3 style='font-weight: bold;'>Create a meetup event</h3>

  <div class="form-group">
    <label>What's your event's name? <small class="red">* required</small></label>
    <input class="form-control" type="text" id="name">
  </div>

  <label>When to meet? <small class="red">* required</small></label>
  <div class="row" ng-controller="meetingCtrl">
    <div class="col-md-6">
      <p class="input-group datepicker">
        <input type="text" class="datepicker-input form-control" uib-datepicker-popup ng-model="formDate"
          is-open="popup.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" id="formDate"/>
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="open()"><i class="fa fa-calendar"></i></button>
        </span>
      </p>
    </div>
    <div class="col-md-6" uib-timepicker ng-model="formTime" ng-change="changed()" hour-step="hstep" minute-step="mstep"
      show-meridian="true" id="formTime"></div>
  </div>

  <label>Where to meet? <small class="red">* required</small></label>
  <ng-map id="create-map" zoom="16" center="[36.37425202630263, 127.36579723271618]">
    <control name="overviewMap" opened="true" />
  </ng-map>

  <label>Meeting Description:</label>
  <textarea id="description" class="form-control" rows="3"></textarea>

  <button ui-sref="meeting-list" class="btn btn-success" id="createBtn" ng-click="submit()">Create</button>
  <button ui-sref="meeting-list" class="btn btn-light" id="cancelBtn">Cancel</button>
</div>
<input id="tempTime" style="display: none;"/>